<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=title%></h1>
    <p>ejs 엔진을 사용해보자</p>

    <ul>
        <li><a herf="/add">더하기</li>
        <li><a href="/gugu">구구단</a></li>
        <!--gugu.ejs 구구단 입력받아서 gugu_result.ejs 에서 출력-->
    </ul>
</body>
</html>